/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

td {
  padding: 10px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  background-color: aliceblue;
}

.hidden {
  display: none;
}
